language: node_js
node_js:
- '0.11'
- '0.12'
- '4.0'
- '5.0'
- '6.0'
os:
- linux
- osx
script: curl -s https://raw.githubusercontent.com/atom/ci/master/build-package.sh | sh || npm test
addons:
  apt:
    packages:
    - build-essential
    - git
    - libgnome-keyring-dev
    - fakeroot
